
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/bower_components/bootstrap/dist/css/bootstrap.css';
//@import '~admin-lte/bower_components/font-awesome/css/font-awesome.min.css';
@import '~admin-lte/dist/css/skins/skin-blue.min.css';
//@import '~admin-lte/bower_components/ionicons/css/ionicons.css';
@import '~admin-lte/dist/css/AdminLTE.css';
//@import '~admin-lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css';

@media (max-width: 720px) {
  .navbar-nav > .notifications-menu > .dropdown-menu {
    max-width: 100%;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  .hide-on-landscape {
    display: none!important;
  }
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-nav > .notifications-menu > .dropdown-menu {
  width: 500px!important;
  right: 0!important;
  a {
    white-space: normal!important;
  }

  li.footer a{
    display: inline-block;
  }
}

.bigdrop {
  width: 300px !important;
}
