@media print {
    body {
        width: 21cm;
        height: 29.7cm;
    }
    .box-header .box-title{
        display: none;
    }
    .hidden {
        display: block!important;
    }
    .control-button, .main-footer {
        display: none!important;
    }
}