@media print {
    body {
        width: 21cm;
        height: 29.7cm;
    }

    .hidden {
        display: block!important;
    }

    .control-button, .main-footer {
        display: none!important;
    }

    .box .box-header .box-title {
        display: block;
        font-weight: bold;
        font-size: 20px;
    }

    .sign-name {
        font-weight: bold;
        font-size: 15px;
    }
}